**/bin/
**/obj/
**/appsettings.json
**/appsettings.Development.json
**/*.db
**/*.db-shm
**/*.db-wal
**/logs/
SyncApp26.Client/
SyncApp26.Tests/
**/.vs/
**/.vscode/
**/*.user
.git/
.gitignore
.dockerignore
